.modelBackground {
  position: fixed;
  background: rgba(33, 37, 41, 0.5);
  top: 0;
  left: 0;
  z-index: 3000;
  display: block;
  width: 100%;
  height: 100%;
  outline: 0;
  overflow-x: hidden;
  padding-right: 17px;
}
.model-dialoug-centred .model-dialoug {
  height: calc(100vh - 3.5rem);
}
.fade {
  transition: opacity 0.15s linear;
}

.model-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  overflow-y: hidden;
  left: 25%;
}
@media screen and (max-width: 780px) {

.model-container {
  position: relative;
/* display: flex; */
flex-direction: column;
width: 70%;
pointer-events: auto;
background-color: #fff;
/* background-clip: padding-box; */
border: 1px solid rgba(0,0,0,.2);
border-radius: .3rem;
outline: 0;
margin-right:20px;
margin-left:0px;
padding:2px;

}


}

@media screen and (max-width: 780px){
 .moble-view{
  flex-direction: row;
  display: flex;
  padding: 0.75rem !important;
  width: auto;

 }
}
